@font-face {
	font-family: 'GT America';
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/GT-America-LC-Compressed-Bold.otf') format("opentype");
}

@view-transition {
	navigation: auto;
}

html {
	accent-color: #9b7863;
	height: 100%;
}

body {
	font-family: -apple-system, system-ui, sans-serif;
	margin: 0;
	height: 100%;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/** MARK: Map statuses */
.ymaps3--drawer-control-content {
	padding: 1em;
}

.status-filters {
	border: none;
	margin: 0;
	padding: 0;
}

.status-filters__title {
	font-family: 'GT America', sans-serif;
	font-size: 150%;
	text-transform: uppercase;
}

.status-filters label::before {
	background: url('../img/k.svg') center / 50% no-repeat rgb(38, 38, 38);
	border-radius: 50%;
	content: '';
	display: inline-block;
	margin-inline-end: .25em;
	padding: 0.55em;
	transform: translateY(.15em);
}

.status-filters input[value="in_progress"]+label::before {
	background-color: #9b7863;
}

.status-filters input[value="invest"]+label::before {
	background-color: rgb(250, 249, 249);
	background-image: url('../img/k--black.svg');
	outline: 1px solid rgb(38, 38, 38);
}

.city-map:not(:has(.status-filters input[value="done"]:checked)) .ymaps3x0--marker:has(.ymaps3--default-marker__background[style*="color: rgb(38, 38, 38);"]) {
	display: none;
}

.city-map:not(:has(.status-filters input[value="in_progress"]:checked)) .ymaps3x0--marker:has(.ymaps3--default-marker__background[style*="color: #9b7863;"]) {
	display: none;
}

.city-map:not(:has(.status-filters input[value="invest"]:checked)) .ymaps3x0--marker:has(.ymaps3--default-marker__background[style*="color: rgb(250, 249, 249);"]) {
	display: none;
}

/** MARK: YMap */
ymaps {
	touch-action: manipulation;
}

.ymaps3--default-marker__background {
	position: relative;
}

.ymaps3--default-marker__background::before {
	position: absolute;
	content: '';
	pointer-events: none;
	inset: 0;
	background: url('../img/k.svg') 50% 30% / 50% no-repeat;
}

.ymaps3--small-poi .ymaps3--default-marker__background::before {
	background-position: center;
}

.ymaps3--default-marker__background[style*="color: rgb(250, 249, 249);"]::before {
	background-image: url('../img/k--black.svg');
}

ymaps .ymaps3--hint-title {
	font-family: 'GT America', sans-serif;
	color: rgb(38, 38, 38);
	font-size: 130%;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
}

.ymaps3--small-poi svg {
	transform: scale(1.5);
}

.ymaps3--small-poi .ymaps3--default-marker__background::before {
	background-size: 75%;
	z-index: 1;
}

.marker-cluster {
	align-items: center;
	background-color: rgb(38, 38, 38);
	border-radius: 2em;
	border: none;
	color: rgb(250, 249, 249);
	cursor: pointer;
	display: flex;
	font-family: 'GT America', sans-serif;
	font-size: 180%;
	height: 1.25em;
	justify-content: center;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 1.25em;
}

.marker-cluster--done {
	background-color: rgb(38, 38, 38);
	color: rgb(250, 249, 249);
}

.marker-cluster--in_progress {
	background-color: #9b7863;
	color: rgb(250, 249, 249);
}

.marker-cluster--invest {
	background-color: rgb(250, 249, 249);
	color: rgb(38, 38, 38);
}