@font-face {
    font-family: 'GT America';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/GT-America-LC-Compressed-Bold.otf') format("opentype");
}

@view-transition {
	navigation: auto;
}

html {
	height: 100%;
}

body {
	font-family: -apple-system, system-ui, sans-serif;
	margin: 0;
	height: 100%;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/** MARK: YMap */
ymaps {
	touch-action: manipulation;
}

.ymaps3--default-marker__background {
	position: relative;
}

.ymaps3--default-marker__background::before {
	position: absolute;
	content: '';
	pointer-events: none;
	inset: 0;
	background: url('../img/k.svg') 50% 30% / 50% no-repeat;
}

.ymaps3--small-poi .ymaps3--default-marker__background::before {
	background-position: center;
}

.ymaps3--default-marker__background[style*="color: rgb(250, 249, 249);"]::before {
	background-image: url('../img/k--black.svg');
}

ymaps .ymaps3--hint-title {
	font-family: 'GT America', sans-serif;
    color: #262626;
    font-size: 130%;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

.ymaps3--small-poi svg {
	transform: scale(1.5);
}

.ymaps3--small-poi .ymaps3--default-marker__background::before {
	background-size: 75%;
	z-index: 1;
}

.marker-cluster {
    align-items: center;
    background-color: #262626;
	border-radius: 2em;
	border: none;
    color: #FAF9F9;
	cursor: pointer;
    display: flex;
    font-family: 'GT America', sans-serif;
    font-size: 180%;
	height: 1.25em;
    justify-content: center;
    text-align: center;
	transform: translate(-50%, -50%);
	width: 1.25em;
}

.marker-cluster--done {
    background-color: #262626;
    color: #FAF9F9;
}

.marker-cluster--in_progress {
    background-color: #9b7863;
    color: #FAF9F9;
}

.marker-cluster--invest {
    background-color: #FAF9F9;
    color: #262626;
}