---
title: 'Карта объектов компании Колесник'
---
<h1 class="visually-hidden">{{ title }}</h1>
<fieldset id="status-filters" class="status-filters">
	<legend class="status-filters__title">Статус</legend>
	<input type="checkbox" id="status-filter-done" name="status-filter" value="done" checked>
	<label for="status-filter-done">Завершён</label><br>
	<input type="checkbox" id="status-filter-in-progress" name="status-filter" value="in_progress" checked>
	<label for="status-filter-in-progress">В работе</label><br>
	<input type="checkbox" id="status-filter-invest" name="status-filter" value="invest" checked>
	<label for="status-filter-invest">Открыт для инвестиций</label>
</fieldset>
<script type="module">
	import {createCityMap} from '{{ "/lib/ymaps.js" | htmlBaseUrl }}'

	createCityMap({
		features: [
			{%- for project in collections.projects %}
				{
					id: '{{ project.data.title }}',
					type: 'Feature',
					geometry: {
						type: 'Point',
						coordinates: [{{ project.data.longitude }}, {{ project.data.latitude }}],
					},
					properties: {
						status: '{{ project.data.status }}',
						size: '{{ "normal" if project.data.is_big else "small" }}',
					},
				},
			{%- endfor %}
		],
	});
</script>