---
title: 'Карта объектов компании Колесник'
---
<h1 class="visually-hidden">{{ title }}</h1>
<script type="module">
	import {createCityMap} from '{{ "/lib/ymaps.js" | htmlBaseUrl }}'

	createCityMap({
		features: [
			{%- for project in collections.projects %}
				{
					id: '{{ project.data.title }}',
					type: 'Feature',
					geometry: {
						type: 'Point',
						coordinates: [{{ project.data.longitude }}, {{ project.data.latitude }}],
					},
					properties: {
						status: '{{ project.data.status }}',
						size: '{{ "normal" if project.data.is_big else "small" }}',
					},
				},
			{%- endfor %}
		],
	});
</script>