---
layout: layouts/base.njk
---
<h1 class="visually-hidden">{{ title }}</h1>
<script type="module">
	import {createProjectMap} from '{{ "/lib/ymaps.js" | htmlBaseUrl }}'

	createProjectMap({
		longitude: '{{ longitude }}',
		latitude: '{{ latitude }}',
		status: '{{ status }}',
		title: '{{ title }}',
	});
</script>
